
.form-table {
	width: 460px;
}
.form-table td {
	border-top: 1px solid #d9e5f1;
	padding: 10px 10px 10px 0;
	vertical-align: top;
}
td.label {
	width: 30%;
	padding-top: 13px;
}
td.field {
	width: 70%;
}

legend {
	color: #000;
	font-size: 22px;
	margin-bottom: 10px;
	letter-spacing: -.05em;
}

fieldset {
	width: 460px;
	float: left;
	margin: 10px 0 20px;
}
.chapter-details {
	margin-right: 40px;
}

fieldset.save {
/*	clear: left;*/
	margin: 0 0 40px 0;
}
fieldset.save p {
	float: left;
	line-height: 30px;
	vertical-align: middle;
}
p.save-button {
	margin-right: 20px;
}

#chapter_code {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

.container {
	padding-bottom: 40px;
}