
table.chapters,
table.chapters tr,
table.chapters td {
	display: block;
}

table.chapters {
	margin-right: -40px;
	margin-top: 40px;
	margin-bottom: 80px;
}
table.chapters tr {
	float: left;
	width: 260px;
	margin-right: 40px;
	margin-bottom: 40px;
	height: 14em;
}
.chapter-code {
	display: none;
	font-size: 15px;
	color: #000;
}
.chapter-name {
	font-weight: 600;
	letter-spacing: -.05em;
	font-size: 24px;
	color: #000;
	margin-bottom: 5px;
	text-indent: -.05em;
}
.chapter-address,
.chapter-email {
	font-size: 15px;
	margin-bottom: 5px;
}
td.actions {
	font-size: 11px;
}
.chapter-applicant-count span,
.chapter-user-count span {
	font-weight: bold;
}