.container header.chapter-header {
	margin: 0 -20px 15px;
	padding: 0 20px 25px;
	border-bottom: 1px solid #d9ebf6;
	margin-bottom: 20px;
}
.container header.chapter-header h1 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -2px;
}
.container header.chapter-header p {
	float: right;
	font-size: 36px;
	font-weight: 100;
	margin: 0;
	color: #007ac2;
}