.page-title {
/*	padding-top: 40px;*/
}
.actions-nav ul {
	font-size: 14px;
	line-height: 1;
}

.actions-nav li.expires-on {
	color: #007ac2;
	float: right;
	margin-right: 0;
}
.actions-nav li.expires-on span {
	font-weight: bold;
	letter-spacing: -0.05em;
}

header.applicant-header {
	margin: 0 -20px;
	padding: 0 20px 25px;
	border-bottom: 1px solid #d9ebf6;
	margin-bottom: 20px;
}
p.applicant-test-id {
	float: right;
	font-size: 30px;
	margin: 0 0 0 20px;
	font-weight: 300;
	letter-spacing: -.05em;
	color: #007ac2;
}
h1.applicant-name {
	font-size: 30px;
	font-weight: 600;
}