.content {
	background: url('../global/bg_top_blue.jpg') left -70px repeat-x;
	padding: 5% 0;
	float: none;
	clear: both;
}
.global-footer {
	position: absolute;
	bottom: 0;
}
.home-index-wrapper {
	width: 600px;
	margin: 0 auto;
}