@import url('reset.css');
/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:regular,italic,bold,bolditalic');*/

body {
	font-family: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
/*	background: url('bg_top_blue.jpg') left top repeat-x;*/
	font-size: 12px;
	line-height: 1.3;
	color: #666;
}
header, h1, h2, h3, h4, h5, h6, strong, em {
	color: #000;
}
a {
	color: #0054a7;
	text-decoration: none;
}

.global-nav {
	float: left;
	width: 100%;
	height: 80px;
	background: #003c81 url(global-nav.png);
	color: #ccdded;
	text-shadow: 1px 1px 0 #003b73;
}
.global-nav a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}
.global-nav a:hover {
	color: #fff;
}
.user-controls a {
	margin-left: 7px;
}
.global-nav .expires_on {
	color: #fff;
}

header.masthead {
	float: left;
	margin: 16px 20px;
}
header.masthead a {
	display: block;
}
.binabud-logo a:hover {
}
.binabud-logo img {
	display: block;
}

.user-controls {
	float: right;
	line-height: 80px;
	vertical-align: middle;
	padding: 0 40px;
}
span.username {
	font-weight: bold;
	color: white;
}
strong.activate-link {
	margin-right: 10px;
}
strong.activate-link a {
	padding: 5px 5px 2px 5px;
	border: 1px solid #ccdded;
	border-radius: 3px;
}
strong.activate-link a:active {
	position: relative;
	top: 1px;
	left: 1px;
}

.content {
	float: left;
	width: 100%;
}
.container {
	width: 960px;
	margin: 0 auto;
}

i, em {
	font-style: italic;
}
b, strong {
	font-weight: bold;
}

.content ul {
	list-style: disc;
	padding-left: 1.5em;
}
.content p {
	margin: 1em 0;
}

button {
	font-size: 13px;
	padding: 5px 12px 4px;
	background: #0054a7 url(buttongrad.png) center repeat-x;
	color: white;
	border: none;
	border-radius: .5em;
	box-shadow: 0 .2em .0 #002a52;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
button:active {
	background: #002a52 url(buttongrad-dark.png) center repeat-x;
	position: relative;
	color: rgba(255, 255, 255, 0.7);
	top: .2em;
	box-shadow: none;
}

.page-title {
	background: url('bg_top_blue.jpg') left -80px repeat-x;
	float: left;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #b6cee5;
}
.page-title p {
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
	color: #999;
	text-shadow: 1px 1px 0 #fff;
}
.page-title h1 {
	color: #0054a5;
	width: 960px;
	margin: 0 auto;
	font-size: 34px;
	letter-spacing: -.05em;
}

.actions-nav {
	width: 100%;
	margin: -40px 0 0;
}
.actions-nav ul {
	width: 960px;
	margin: 0 auto 20px;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 300;
	border-bottom: 1px solid #d9e5f1;
}
.actions-nav li {
	display: inline;
	margin-right: 20px;
}
.actions-nav li a {
	color: #b6cee5;
}
.actions-nav li a.active {
	font-weight: bold;
	color: #0054a5;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.global-footer {
	display: none;
	clear: both;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background: white;
}

/**
 * Forms
 */

.medium {
	width: 300px;
}
.medium-short {
	width: 160px;
}
.large {
	width: 300px;
	height: 60px;
}
.short {
	width: 100px;
}
.very-short {
	width: 50px;
}
.date-d {
	width: 4em;
}
.date-m {
	width: 10em;
}
.date-y {
	width: 6em;
}
input, textarea {
	font: inherit;
}