.content {
	padding-bottom: 80px;
}
.global-footer {
	display: none;
}
p.token {
	font-family: Courier;
	font-weight: bold;
	letter-spacing: 4px;
	color: #000;
	font-size: 80px;
	margin: 0;
}

button {
	font-size: 13px;
}